.app {
  padding: .5em;
}
.black {
  background: #000;
  height: 50%;
  width: 50%;
}

h2,
p {
  color: #fff;
}

.nav-box {
  background: #000;
  height: 200px;
  width: 200px;
  margin-top: 50px;
}

a {
  text-decoration: none;
  color: #fff;
}
span{
  white-space: pre-wrap;
}
#deactivate {
  cursor: pointer;
}